In [2]:
import pandas as pd
import sys,os

#### Concat all the extracted dominant colors

In [17]:
rootdir = '../data/Challenge_Data/Assets/'
max_loop=1
loop=0
dominant_color_merged = pd.DataFrame()
for subdir, dirs, files in os.walk(rootdir):
    loop+=1
    if loop > max_loop:
        break
    for dir in dirs:
        dir_path = os.path.join(subdir, dir)
        df = pd.read_csv(f"{dir_path}/dominant_color.csv")
        dominant_color_merged = pd.concat([dominant_color_merged, df], ignore_index=True)

dominant_color_merged.shape

(905, 12)

In [18]:
dominant_color_merged.head()

,Unnamed: 0,color_1,color_1_occurance,color_2,color_2_occurance,color_3,color_3_occurance,color_4,color_4_occurance,color_5,color_5_occurance,game_id
0,0,#010101,502997.0,#5D0600,85037.0,#5D0200,73722.0,#E42000,66394.0,#FE5700,58892.0,ed3071a667a11cc56e88ae0489bfe6aa
1,0,#FFFFFF,274865.0,#08080C,160951.0,#D5D4D4,19223.0,#C5E8C6,14026.0,#404040,10730.0,4799763419d621cd41e7fb8abbcdd45d
2,0,#010101,499029.0,#FEFEFA,459426.0,#FFCF24,355211.0,#F7A22D,278629.0,#FEC82E,153266.0,bf1f7af46eec0e92939a8b3ba51cbacd
3,0,#FFFFFF,271413.0,#08080C,160951.0,#D5D4D4,19223.0,#404040,10730.0,#000000,9062.0,e68e20f592457b875ce29757ab855dfe
4,0,#FFFFFF,490748.0,#09090E,202923.0,#C5E8C6,23779.0,#C6E8C6,23585.0,#FFEBA2,15527.0,6a8e741867d4f893afad015b77b52c39

In [19]:
dominant_color_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         905 non-null    int64
 1   color_1            900 non-null    object
 2   color_1_occurance  900 non-null    float64
 3   color_2            898 non-null    object
 4   color_2_occurance  898 non-null    float64
 5   color_3            898 non-null    object
 6   color_3_occurance  898 non-null    float64
 7   color_4            897 non-null    object
 8   color_4_occurance  897 non-null    float64
 9   color_5            894 non-null    object
 10  color_5_occurance  894 non-null    float64
 11  game_id            905 non-null    object
dtypes: float64(5), int64(1), object(6)
memory usage: 85.0+ KB

In [20]:
dominant_color_merged.to_csv("/home/all_data/dominant_color_merged.csv")

In [21]:
df = pd.read_csv("/home/all_data/dominant_color_merged.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       905 non-null    int64
 1   Unnamed: 0         905 non-null    int64
 2   color_1            900 non-null    object
 3   color_1_occurance  900 non-null    float64
 4   color_2            898 non-null    object
 5   color_2_occurance  898 non-null    float64
 6   color_3            898 non-null    object
 7   color_3_occurance  898 non-null    float64
 8   color_4            897 non-null    object
 9   color_4_occurance  897 non-null    float64
 10  color_5            894 non-null    object
 11  color_5_occurance  894 non-null    float64
 12  game_id            905 non-null    object
dtypes: float64(5), int64(2), object(6)
memory usage: 92.0+ KB

#### Concat all the extracted Logo Positions

In [22]:
rootdir = '../data/Challenge_Data/Assets/'
max_loop=1
loop=0
logo_position_concat = pd.DataFrame()
for subdir, dirs, files in os.walk(rootdir):
    loop+=1
    if loop > max_loop:
        break
    for dir in dirs:
        dir_path = os.path.join(subdir, dir)
        df = pd.read_csv(f"{dir_path}/logo_position.csv")
        logo_position_concat = pd.concat([logo_position_concat, df], ignore_index=True)

logo_position_concat.shape

(905, 8)

In [23]:
logo_position_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    905 non-null    int64
 1   game_id       905 non-null    object
 2   logo_start_x  342 non-null    float64
 3   logo_start_y  342 non-null    float64
 4   logo_end_x    342 non-null    float64
 5   logo_end_y    342 non-null    float64
 6   logo_height   342 non-null    float64
 7   logo_width    342 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 56.7+ KB

In [24]:
logo_position_concat.head()

,Unnamed: 0,game_id,logo_start_x,logo_start_y,logo_end_x,logo_end_y,logo_height,logo_width
0,0,ed3071a667a11cc56e88ae0489bfe6aa,NaN,NaN,NaN,NaN,NaN,NaN
1,0,4799763419d621cd41e7fb8abbcdd45d,NaN,NaN,NaN,NaN,NaN,NaN
2,0,bf1f7af46eec0e92939a8b3ba51cbacd,104.0,11.0,526.0,207.0,196.0,422.0
3,0,e68e20f592457b875ce29757ab855dfe,NaN,NaN,NaN,NaN,NaN,NaN
4,0,6a8e741867d4f893afad015b77b52c39,NaN,NaN,NaN,NaN,NaN,NaN

#### Save the dataframe

In [25]:
logo_position_concat.to_csv("/home/all_data/logo_position_concat.csv")

In [26]:
df = pd.read_csv("/home/all_data/logo_position_concat.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  905 non-null    int64
 1   Unnamed: 0    905 non-null    int64
 2   game_id       905 non-null    object
 3   logo_start_x  342 non-null    float64
 4   logo_start_y  342 non-null    float64
 5   logo_end_x    342 non-null    float64
 6   logo_end_y    342 non-null    float64
 7   logo_height   342 non-null    float64
 8   logo_width    342 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 63.8+ KB

#### Concat all the extracted CAT Postions

In [27]:
rootdir = '../data/Challenge_Data/Assets/'
max_loop=1
loop=0
cta_postion_concat = pd.DataFrame()
for subdir, dirs, files in os.walk(rootdir):
    loop+=1
    if loop > max_loop:
        break
    for dir in dirs:
        dir_path = os.path.join(subdir, dir)
        df = pd.read_csv(f"{dir_path}/cta_position.csv")
        cta_postion_concat = pd.concat([cta_postion_concat, df], ignore_index=True)

cta_postion_concat.shape

(905, 8)

In [28]:
cta_postion_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   905 non-null    int64
 1   game_id      905 non-null    object
 2   cta_start_x  689 non-null    float64
 3   cta_start_y  689 non-null    float64
 4   cta_end_x    689 non-null    float64
 5   cta_end_y    689 non-null    float64
 6   cta_height   689 non-null    float64
 7   cta_width    689 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 56.7+ KB

In [29]:
cta_postion_concat.head()

,Unnamed: 0,game_id,cta_start_x,cta_start_y,cta_end_x,cta_end_y,cta_height,cta_width
0,0,ed3071a667a11cc56e88ae0489bfe6aa,15.0,38.0,615.0,938.0,900.0,600.0
1,0,4799763419d621cd41e7fb8abbcdd45d,348.0,795.0,582.0,845.0,50.0,234.0
2,0,bf1f7af46eec0e92939a8b3ba51cbacd,141.0,744.0,527.0,809.0,65.0,386.0
3,0,e68e20f592457b875ce29757ab855dfe,348.0,795.0,582.0,845.0,50.0,234.0
4,0,6a8e741867d4f893afad015b77b52c39,166.0,815.0,466.0,879.0,64.0,300.0

#### Save the dataframe

In [30]:
cta_postion_concat.to_csv("/home/all_data/cta_postion_concat.csv")

In [31]:
df = pd.read_csv("/home/all_data/cta_postion_concat.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  905 non-null    int64
 1   Unnamed: 0    905 non-null    int64
 2   game_id       905 non-null    object
 3   cta_start_x   689 non-null    float64
 4   cta_start_y   689 non-null    float64
 5   cta_end_x     689 non-null    float64
 6   cta_end_y     689 non-null    float64
 7   cta_height    689 non-null    float64
 8   cta_width     689 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 63.8+ KB

#### Merge all the three features in to a single pd.Dataframe

In [32]:
dom = dominant_color_merged.head(5)
dom

,Unnamed: 0,color_1,color_1_occurance,color_2,color_2_occurance,color_3,color_3_occurance,color_4,color_4_occurance,color_5,color_5_occurance,game_id
0,0,#010101,502997.0,#5D0600,85037.0,#5D0200,73722.0,#E42000,66394.0,#FE5700,58892.0,ed3071a667a11cc56e88ae0489bfe6aa
1,0,#FFFFFF,274865.0,#08080C,160951.0,#D5D4D4,19223.0,#C5E8C6,14026.0,#404040,10730.0,4799763419d621cd41e7fb8abbcdd45d
2,0,#010101,499029.0,#FEFEFA,459426.0,#FFCF24,355211.0,#F7A22D,278629.0,#FEC82E,153266.0,bf1f7af46eec0e92939a8b3ba51cbacd
3,0,#FFFFFF,271413.0,#08080C,160951.0,#D5D4D4,19223.0,#404040,10730.0,#000000,9062.0,e68e20f592457b875ce29757ab855dfe
4,0,#FFFFFF,490748.0,#09090E,202923.0,#C5E8C6,23779.0,#C6E8C6,23585.0,#FFEBA2,15527.0,6a8e741867d4f893afad015b77b52c39

In [33]:
dcta = cta_postion_concat.head(5)
dcta

,Unnamed: 0,game_id,cta_start_x,cta_start_y,cta_end_x,cta_end_y,cta_height,cta_width
0,0,ed3071a667a11cc56e88ae0489bfe6aa,15.0,38.0,615.0,938.0,900.0,600.0
1,0,4799763419d621cd41e7fb8abbcdd45d,348.0,795.0,582.0,845.0,50.0,234.0
2,0,bf1f7af46eec0e92939a8b3ba51cbacd,141.0,744.0,527.0,809.0,65.0,386.0
3,0,e68e20f592457b875ce29757ab855dfe,348.0,795.0,582.0,845.0,50.0,234.0
4,0,6a8e741867d4f893afad015b77b52c39,166.0,815.0,466.0,879.0,64.0,300.0

In [34]:
df_merged = pd.merge(dom,dcta, on='game_id')
df_merged

,Unnamed: 0_x,color_1,color_1_occurance,color_2,color_2_occurance,color_3,color_3_occurance,color_4,color_4_occurance,color_5,color_5_occurance,game_id,Unnamed: 0_y,cta_start_x,cta_start_y,cta_end_x,cta_end_y,cta_height,cta_width
0,0,#010101,502997.0,#5D0600,85037.0,#5D0200,73722.0,#E42000,66394.0,#FE5700,58892.0,ed3071a667a11cc56e88ae0489bfe6aa,0,15.0,38.0,615.0,938.0,900.0,600.0
1,0,#FFFFFF,274865.0,#08080C,160951.0,#D5D4D4,19223.0,#C5E8C6,14026.0,#404040,10730.0,4799763419d621cd41e7fb8abbcdd45d,0,348.0,795.0,582.0,845.0,50.0,234.0
2,0,#010101,499029.0,#FEFEFA,459426.0,#FFCF24,355211.0,#F7A22D,278629.0,#FEC82E,153266.0,bf1f7af46eec0e92939a8b3ba51cbacd,0,141.0,744.0,527.0,809.0,65.0,386.0
3,0,#FFFFFF,271413.0,#08080C,160951.0,#D5D4D4,19223.0,#404040,10730.0,#000000,9062.0,e68e20f592457b875ce29757ab855dfe,0,348.0,795.0,582.0,845.0,50.0,234.0
4,0,#FFFFFF,490748.0,#09090E,202923.0,#C5E8C6,23779.0,#C6E8C6,23585.0,#FFEBA2,15527.0,6a8e741867d4f893afad015b77b52c39,0,166.0,815.0,466.0,879.0,64.0,300.0

In [36]:
df_merged = pd.merge(cta_postion_concat, dominant_color_merged, on='game_id')
df_merged.shape

(905, 19)

In [37]:
df_merged.head()

,Unnamed: 0_x,game_id,cta_start_x,cta_start_y,cta_end_x,cta_end_y,cta_height,cta_width,Unnamed: 0_y,color_1,color_1_occurance,color_2,color_2_occurance,color_3,color_3_occurance,color_4,color_4_occurance,color_5,color_5_occurance
0,0,ed3071a667a11cc56e88ae0489bfe6aa,15.0,38.0,615.0,938.0,900.0,600.0,0,#010101,502997.0,#5D0600,85037.0,#5D0200,73722.0,#E42000,66394.0,#FE5700,58892.0
1,0,4799763419d621cd41e7fb8abbcdd45d,348.0,795.0,582.0,845.0,50.0,234.0,0,#FFFFFF,274865.0,#08080C,160951.0,#D5D4D4,19223.0,#C5E8C6,14026.0,#404040,10730.0
2,0,bf1f7af46eec0e92939a8b3ba51cbacd,141.0,744.0,527.0,809.0,65.0,386.0,0,#010101,499029.0,#FEFEFA,459426.0,#FFCF24,355211.0,#F7A22D,278629.0,#FEC82E,153266.0
3,0,e68e20f592457b875ce29757ab855dfe,348.0,795.0,582.0,845.0,50.0,234.0,0,#FFFFFF,271413.0,#08080C,160951.0,#D5D4D4,19223.0,#404040,10730.0,#000000,9062.0
4,0,6a8e741867d4f893afad015b77b52c39,166.0,815.0,466.0,879.0,64.0,300.0,0,#FFFFFF,490748.0,#09090E,202923.0,#C5E8C6,23779.0,#C6E8C6,23585.0,#FFEBA2,15527.0

In [38]:
df_merged_final = pd.merge(df_merged,logo_position_concat, on='game_id')
df_merged_final.shape

(905, 26)

In [39]:
df_merged_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 905 entries, 0 to 904
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0_x       905 non-null    int64
 1   game_id            905 non-null    object
 2   cta_start_x        689 non-null    float64
 3   cta_start_y        689 non-null    float64
 4   cta_end_x          689 non-null    float64
 5   cta_end_y          689 non-null    float64
 6   cta_height         689 non-null    float64
 7   cta_width          689 non-null    float64
 8   Unnamed: 0_y       905 non-null    int64
 9   color_1            900 non-null    object
 10  color_1_occurance  900 non-null    float64
 11  color_2            898 non-null    object
 12  color_2_occurance  898 non-null    float64
 13  color_3            898 non-null    object
 14  color_3_occurance  898 non-null    float64
 15  color_4            897 non-null    object
 16  color_4_occurance  897 non-null    float64
 17  color_5            894 non-null    object
 18  color_5_occurance  894 non-null    float64
 19  Unnamed: 0         905 non-null    int64
 20  logo_start_x       342 non-null    float64
 21  logo_start_y       342 non-null    float64
 22  logo_end_x         342 non-null    float64
 23  logo_end_y         342 non-null    float64
 24  logo_height        342 non-null    float64
 25  logo_width         342 non-null    float64
dtypes: float64(17), int64(3), object(6)
memory usage: 190.9+ KB

#### Save the final Version

In [40]:
df_merged_final.to_csv("/home/all_data/all_merged.csv")

In [41]:
df = pd.read_csv("/home/all_data/all_merged.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       905 non-null    int64
 1   Unnamed: 0_x       905 non-null    int64
 2   game_id            905 non-null    object
 3   cta_start_x        689 non-null    float64
 4   cta_start_y        689 non-null    float64
 5   cta_end_x          689 non-null    float64
 6   cta_end_y          689 non-null    float64
 7   cta_height         689 non-null    float64
 8   cta_width          689 non-null    float64
 9   Unnamed: 0_y       905 non-null    int64
 10  color_1            900 non-null    object
 11  color_1_occurance  900 non-null    float64
 12  color_2            898 non-null    object
 13  color_2_occurance  898 non-null    float64
 14  color_3            898 non-null    object
 15  color_3_occurance  898 non-null    float64
 16  color_4            897 non-null    object
 17  color_4_occurance  897 non-null    float64
 18  color_5            894 non-null    object
 19  color_5_occurance  894 non-null    float64
 20  Unnamed: 0         905 non-null    int64
 21  logo_start_x       342 non-null    float64
 22  logo_start_y       342 non-null    float64
 23  logo_end_x         342 non-null    float64
 24  logo_end_y         342 non-null    float64
 25  logo_height        342 non-null    float64
 26  logo_width         342 non-null    float64
dtypes: float64(17), int64(4), object(6)
memory usage: 191.0+ KB